body{
    background:#9C835F;
   
}

.container-fluid{
    padding-left: 2vw;
}

.navbar-brand{
   display: flex;
   gap: 2vw;
   align-items: center;
   font-size: 2vw;
}
.navbar-brand > p{
    color: #F9B23D;
    margin: 0;
}

.point{
    width: 1.5vw;
}

.logo1{
    width: 3vw;
}

.row{
    padding: 0.5vw;
}
.row-text{
    font-size: 2vw;
    font-weight: bold;
    height: 7vw;
}

.batuplayer{
    width: 6vw;
    cursor: pointer;
}
.batucom{
    width: 6vw;
}
.kertasplayer{
    width: 6vw;
    cursor: pointer;
}
.kertascom{
    width: 6vw;
}
.guntingplayer{
    width: 6vw;
    cursor: pointer;
}
.guntingcom{
    width: 6vw;
}
.refresh{
    width: 3vw;
    cursor: pointer;
}
.card-pwin{
    position: absolute;
    background-color: green;
    width: 10vw;
    height: 6vw;
    text-align: center;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    font-size: 1.5vw;
    color:white;
    transform: rotate(-30deg);
    z-index: 1; 
    visibility: hidden;

}
 
.vs{
    position: absolute;
    font-size: 6vw;
    color: red;
    z-index: 4; 
}

.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vw;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vw;
   
}
.col-player:hover {
    background-color: #C4C4C4;
    border-radius: 2vw;
    
}

.col-batu{
    border-radius: 2vw; 
}

.col-kertas{
    border-radius: 2vw; 
    
}

.col-gunting{
    border-radius: 2vw; 
}

.container{
    width: 60vw;
}
.label{
    height: 6vw;
}