html{
    scroll-behavior: smooth;
}
body{  
    padding: 0;
    margin: 0;  
}

.page1{
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 960.14px;
}

.navbar{
    background:rgba(0, 0, 0, 0.5);
    color: white;
    height: 90px;
    display: flex;
    padding: 0% 10%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.navbar > h1 {
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 2px
}
    
.nav-menu{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    gap: 30px;
}

.nav-login{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    gap: 30px;
}

.main-screen{
    text-align: center;
    padding-top: 157px;
    
}

.text1{
    font-family: arial;
    font-size: 72px;
    color: white; 
    letter-spacing: 3px;  
    margin-bottom: 3.5%;
}

.text2{
    font-family: arial;
    font-size: 24px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
}

.button-play{
    background-color: rgb(255, 187, 51);
    border: 0px;
    height: 60px;
    width: 260px;
    border-radius: 6px;
    font-size: 16px;
    font-family: arial;
    font-weight: 700;
    margin-top: 39px;
    margin-bottom: 260px;
    cursor: pointer;
   
}

.text3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    
}


.scroll-down{
    text-align: center;
}

.page2{
    background-image: url(../images/second-bg.jpg);
    height: 1051.43px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.text4{
    color: white;
    font-family: arial;
    margin-top: 270px;
    margin-left: 85px;

    
}
.text4 > a{
    font-size: 24px;
    letter-spacing: 3px;

    
}
.text4 > p{
    font-size: 56px;
    margin-top: 12px;
    letter-spacing: 5px;
}
.rock{
    position: relative;
    width: 858px;
    height: 505px;
    margin-top: 305px;
    margin-left: 20px;
}
.sw-left{
    position: absolute;
    margin-top: 500px;
    margin-left: 450px;
}
.sw-right{
    position: absolute;
    margin-top: 500px;
    margin-left: 1348px;
}
.ellipse{
  position: absolute;
  margin-top: 785px;
  margin-left: 775px;
  display: flex;
  gap: 50px;
}


.page3{
    background-image: url(../images/three-bg.jpg);
    height: 960.14px;
    background-size: cover;
    background-position: center;
}
.text5{
    color: white;
    font-family: arial;
    position: absolute;
    margin-top: 180px;
    margin-left: 880px;
    
}
.text5 > a{
    font-size: 24px;
    letter-spacing: 3px;
    
    
}
.text5 > p{
    font-size: 56px;
    letter-spacing: 5px;
    margin-top: 12px;
}

.text6{
    position: absolute; 
    margin-top: 350px; 
    margin-left: 880px;
}
.text6-1{
    font-family: arial;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    display: flex;
    gap: 35px;
}
.text6-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 22px;
    letter-spacing: 1px;
    word-spacing: 4px;
    width: 400px;
    margin-top: 0;
    margin-left: 52px;
    
}
.text6-3{

    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    display: flex;
    gap: 35px;
    letter-spacing: 2px;
    margin-top: 45px
    
}
.text6-4{
    font-family: arial;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    display: flex;
    gap: 35px;
}
.garis{
    position: absolute;
    border-left: 3px white solid;
    height: 160px;
    margin-left: 887px;
    margin-top: 385px;
}

.page4{
    background-image: url(../images/Four-bg2.jpg);
    height: 960.14px;
    background-size: cover;
    background-position: center;
    
}

.text7{
    position: absolute;
    font-family: arial;
    font-size: 14px;
    color: white;
    letter-spacing: 3px;
    margin-left: 40%;
    margin-top: 145px;

   
}
.h2{
    position: absolute;
    font-family: arial;
    font-size: 34px;
    color: white;
    width: 30px;
    letter-spacing: 4px;
    margin-top: 200px;
    margin-left: 150px;
}
.table{
    border-collapse: collapse;
    margin-top: 380px;
    margin-left: 150px;
}
td, tr{
    border: 1px solid rgba(255, 255, 255, 0.173);
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    
}
.os{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 8px;
}
.ket-os{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 0;
}
.processor{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 8px;
}
.ket-processor{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 0;
}
.memory{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 8px;
}
.ket-memory{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 0;
}
.storage{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 8px;
}
.ket-storage{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 0;
}
.graphics{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 8px;
}
.ket-graphics{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 0;
}

.page5{
    background-image: url(../images/five-bg.png);
    height: 960.14px;
    background-size: cover;
    background-position: center;
}
.text-page5{
    position: absolute;
    color: white;
    margin-top: 300px;
    margin-left: 150px;
}
.text5-1{
    font-family: arial;
    font-size: 56px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.text5-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 0; 
}

.button-seemore{
    background-color: rgb(255, 187, 51);
    border: 0px;
    height: 60px;
    width: 260px;
    border-radius: 6px;
    font-size: 16px;
    font-family: arial;
    font-weight: 700;
    margin-top: 40px;
}

.quotes1{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    width: 453px;
    height: 182px;
    margin-top: 159px;
    margin-left: 930px;
} 
.twitter-card1{
    position: absolute;
    margin-left: 415px;
    margin-top: 30px;
}
.twibbonize > img{
    position: absolute;
    margin-top: 13px;
    margin-left: 17px;
}
.evan-lahti > img{
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-top: 13px;
    margin-left: 13px;
}

.textquotes{
    position: absolute;
    margin-top: 0;
    margin-left: 100px;
}
.text-evan{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 0;
}
.text-pcgamer{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(135, 135, 135);
    margin-top: 0;
}

.textquotes2{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 85px;
    margin-left: 13px;

}
.textquotes2-1{
    font-size: 18px;
    color: white;
}
.tgl-quotes{
    font-size: 14px;
    color: rgb(135, 135, 135);
}


.quotes2{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    width: 453px;
    height: 205px;
    margin-top: 30px;
    margin-left: 795px;
} 
.twitter-card2{
    position: absolute;
    margin-left: 415px;
    margin-top: 30px;
}
.twibbonize2 > img{
    position: absolute;
    margin-top: 13px;
    margin-left: 17px;
}
.jada-griffin > img{
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-top: 13px;
    margin-left: 13px;
}

.textquotes3{
    position: absolute;
    margin-top: 0;
    margin-left: 100px;
}
.text-jada{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 0;
}
.text-nerdreactor{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(135, 135, 135);
    margin-top: 0;
}

.textquotes4{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 85px;
    margin-left: 13px;

}
.textquotes4-1{
    font-size: 18px;
    color: white;
}
.tgl-quotes2{
    font-size: 14px;
    color: rgb(135, 135, 135);
}

.quotes3{
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    width: 453px;
    height: 205px;
    margin-top: 30px;
    margin-left: 895px;
} 
.twitter-card3{
    position: absolute;
    margin-left: 415px;
    margin-top: 30px;
}
.twibbonize3 > img{
    position: absolute;
    margin-top: 13px;
    margin-left: 17px;
}
.aaron-williams > img{
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    margin-top: 13px;
    margin-left: 13px;
}

.textquotes5{
    position: absolute;
    margin-top: 0;
    margin-left: 100px;
}
.text-aaron{
    font-family: arial;
    font-size: 24px;
    color: #FFB548;
    margin-bottom: 0;
}
.text-uproxx{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(135, 135, 135);
    margin-top: 0;
}

.textquotes6{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 85px;
    margin-left: 13px;

}
.textquotes6-1{
    font-size: 18px;
    color: white;
}
.tgl-quotes3{
    font-size: 14px;
    color: rgb(135, 135, 135);
}


.page6{
    background-image: url(../images/six-bg.png);
    height: 864.81px;
    background-size: cover;
    background-position: center;
}
.skull{
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
}
.text-page6{
    position: absolute;
    color: white;
    margin-top: 90px;
    margin-left: 730px;
}
.textpage6-1{
    font-family: arial;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  
}
.textpage6-2{
    font-family: arial;
    font-size: 65px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 20px;
}
.textpage6-3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
}
.email{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    width: 350px;
    height: 60px;
    margin-top: 500px;
    margin-left: 730px;
}
.textemail-1{
    font-size: 14px;
    color: rgb(135, 135, 135);
    font-size: 500;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 3px;
}
.textemail-2{
    font-size: 18px;
    color: #FFB548;
    margin-top: 0;
    margin-left: 20px
}
.button-subscribe{
    background-color: rgb(255, 187, 51);
    border: 0px;
    height: 60px;
    width: 260px;
    border-radius: 4px;
    font-size: 16px;
    font-family: arial;
    font-weight: 700;
    margin-top: 500px;
    margin-left: 1100px;
}
.navbar-bottom{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    gap: 50px;
    margin-top: 220px;
    margin-left: 500px;
}
.garis-footer{
    position: absolute;
    border-top:1px solid white;
    height: 0.8px;
    width: 1259px;
    margin-top: 33px;
    margin-left: 130px;

}

.footer{
    background: #080A0B;
    height: 95px;
    padding: 0px 130px;
}

.footer1{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    
}
.textfooter-1{
    color: rgb(135, 135, 135);
    font-size: 14px;
}
.textfooter-2{
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
    }
.navbar{
    position: relative;
    height: max-content;   
    padding: 20px;
}
.navbar > h1{
    margin-right: 20px;
}
.nav-menu{
    display: inline;
    margin-right: 20px;
}
.nav-login{
    gap: 15px;
}
.text1{
    font-size: 32px;
}
.text2{
    font-size: 18px;
    margin-top: 40px;
}
.text4 > a{
    font-size: 18px;
}
.text4 > p{
    font-size: 36px;
}
.rock{
    position: absolute;
    width: 330px;
    height: 170px;
    margin-top: 385px;
    margin-left: 140px;
}
.sw-left{
    position: absolute;
    margin-left: 110px;
    margin-top: 450px;
}
.sw-right{
    position: absolute;
    margin-top: 450px;
    margin-left: 480px;
}
.ellipse{
    height: 10px;
    gap: 18px;
    margin-top: 540px;
    margin-left: 250px;
}
.text5{
    margin-left: 80px;
}
.text5 > a{
    font-size: 18px;
}
.text5 > p{
    font-size: 36px;
}
.text6{
    margin-left: 80px;
}
.text6-1{
    font-size: 18px;
}
.text6-2{
    font-size: 16px;
}
.text6-3{
    font-size: 18px;
}
.text6-4{
    font-size: 18px;
}
.garis{
    margin-left: 87px;
    height: 133px;
}

.text7{
    font-size: 12px;
    margin-left: 180px;
}
.h2{
    font-size: 28px;
    margin-left: 50px;
}
.table{
    margin-left: 50px;
}
.os{
    font-size: 18px;
}
.ket-os{
    font-size: 16px;
}
.processor{
    font-size: 18px;
}
.ket-processor{
    font-size: 16px;
}
.memory{
    font-size: 18px
}
.ket-memory{
    font-size: 16px;
}
.storage{
    font-size: 18px;
}
.ket-storage{
    font-size: 16px;
}
.graphics{
    font-size: 18px;
}
.ket-graphics{
    font-size: 16px;
}
.text-page5{
    margin-top: 20px;
    margin-left: 110px;
}
.text5-1{
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 15px;
}
.text5-2{
    font-size: 16px;
    margin-top: 0;
}
.button-seemore{
    margin-top: 0;
}
.quotes1{
    margin-top: 250px;
    margin-left: 70px;
}
.quotes2{
    margin-left: 70px;
}
.quotes3{
    margin-left: 70px;
}
.skull > img{
    height: 400px;
    width: 250px;
}
.text-page6{
    margin-left: 0;
}
.email{
    margin-left: 0;
}
.button-subscribe{
    margin-left: 0;
}
.navbar-bottom{
    gap: 10px;
    margin-left: 0;
}
   
}



