<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:7000/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:7000/stylesheets/gamesuit.css">
    <script src="http://localhost:7000/javascripts/main.js" defer></script>
    <link rel="icon" href="http://localhost:7000/images/icon.png">
    <title>Game Suit</title>
</head>
<body id="gamesuit">
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="http://localhost:7000/images/gamesuit/_.png" alt="point" class="point" id="_point">
            <img src="http://localhost:7000/images/gamesuit/logo1.png" alt="logo1" class="logo1">
            <p>ROCK PAPER SCISSORS</p>
          </a>
        </div>
    </nav>
    <div class="container text-center">
      <div class="row row-text">
        <div class="col-3 label">
          PLAYER 1
        </div>
        <div class="col">
        </div>
        <div class="col-3 label">
          COM
        </div>
      </div>
        <div class="row">
          <div class="col-3 col-player">
            <img id="batu-player" class="batuplayer" src="http://localhost:7000/images/gamesuit/batu.png" alt="batu-col1">
          </div>
          <div class="col">
          </div>
          <div id="colbatu" class="col-3 col-batu">
            <img id="batu-com" class="batucom" src="http://localhost:7000/images/gamesuit/batu.png" alt="batu-col2">
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-player">
            <img id="kertas-player" class="kertasplayer" src="http://localhost:7000/images/gamesuit/kertas.png" alt="kertas-col1">
          </div>
          <div class="col">
            <div id="cardpwin" class="card-pwin"></div>
            <div id="vs" class="vs">VS</div>
          </div>
          <div id="colkertas" class="col-3 col-kertas">
            <img id="kertas-com" class="kertascom" src="http://localhost:7000/images/gamesuit/kertas.png" alt="kertas-col2">
          </div>
        </div>
        <div class="row">
            <div class="col-3 col-player">
              <img id="gunting-player" class="guntingplayer" src="http://localhost:7000/images/gamesuit/gunting.png" alt="gunting-col1">
            </div>
            <div class="col">
            </div>
            <div id="colgunting" class="col-3 col-gunting">
               <img id="gunting-com" class="guntingcom" src="http://localhost:7000/images/gamesuit/gunting.png" alt="gunting-col2">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-3">
              <img id="_refresh" class="refresh" src="http://localhost:7000/images/gamesuit/refresh.png" alt="refresh">
            </div>
            <div class="col">
            </div>
          </div>  
         </div>
</body>
</html>