<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional Game</title>
    <link rel="icon" href="http://localhost:7000/images/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:7000/stylesheets/style.css">
    
</head>
<body>
    <section class="page1">
    <nav class="navbar">
        <h1>LOGO</h1>
        <div class="nav-menu">
            <p>HOME</p>
            <P>WORK</P>
            <P>CONTACT</P>
            <P>ABOUT ME</P>
        </div>
        <div class="nav-login">
            <p>SIGN UP</p>
            <P>LOGIN</P>
        </div>
    </nav>
    <div class="main-screen">
        <h1 class="text1">PLAY TRADITIONAL GAME</h1>
        <p class="text2">Experience new traditional game play</p>
        <a href="http://localhost:7000/gamesuit">
            <button class="button-play">PLAY NOW</button>
        </a>
        
    </div>
    <div>
        <a class="link-scroll" href="#scroll-page2">
            <div class="scroll-down" >
                <p class="text3">THE STORY</p>
                <img src="http://localhost:7000/images/scroll-down.svg" alt="scrolldown">
            </div>
        </a>
    </div>
    </section>
    <section class="page2" id="scroll-page2">
        <div class="text4">
            <a>What's so <br/>special?</a>
            <p>THE GAMES</p>
        </div>
        <img class="rock" src="http://localhost:7000/images/rockpaperstrategy-1600.jpg" alt="rockpaperstrategy-1600">
        <img class="sw-left" src="http://localhost:7000/images/switch-left.svg" alt="switch-left">
        <img class="sw-right" src="http://localhost:7000/images/switch-right.svg" alt="switch-right">
        <div class="ellipse">
            <img src="http://localhost:7000/images/ellipse.svg" alt="ellipse">
            <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline1">
            <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline2">
            <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline3">
            <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline4">
        </div>
    </section>
    <section class="page3">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">">
        <div class="text5"> 
            <a>What's so special?</a>
            <p>FEATURES</p>
        </div>
        <div class="text6">
            <div class="text6-1">
                <img src="http://localhost:7000/images/ellipse.svg" alt="ellipse2">
                <p>TRADITIONAL GAMES</p>
            </div>
            <p class="text6-2">If you miss your childhood, we provide many traditional games here</p>
            <div class="text6-3">
                <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline5">
                <p>GAME SUIT</p>
            </div>
            <div class="text6-4">
                <img src="http://localhost:7000/images/ellipse-outline.svg" alt="ellipse-outline6">
                <p>TBD</p>
            </div> 
        </div>
        <div class="garis"></div>
    </section>
    <section class="page4">
        <div class="text7">
            <p>Can My Computer Run this game?</p>
        </div>
        <div class="h2">
            <h2>SYSTEM REQUIREMENTS</h2>
        </div>
        <div >
            <table class="table" >
                <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">">
                <tr>
                    <td>
                        <p class="os">OS:</p>
                        <P class="ket-os">Windows 7 64-bit only <br/>(No OSX support at this time)</P>
                    </td>
                    <td>
                        <P class="processor">PROCESSOR:</P>
                        <p class="ket-processor">Intel Core 2 Duo @ 2.4 GHZ or <br/>AMD Athlon X2 @ 2.8 GHZ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <P class="memory">MEMORY:</P>
                        <P class="ket-memory">4 GB RAM</P>
                    </td>
                    <td>
                        <P class="storage">STORAGE:</P>
                        <P class="ket-storage">8 GB available space</P>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="graphics">GRAPHICS:</p>
                        <P class="ket-graphics">NVIDIA GeForce GTX 660 2GB or <br/>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</P>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section class="page5">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">">
        <div class="text-page5">
            <h2 class="text5-1">TOP SCORES</h2>
            <p class="text5-2">This top score from various games provided <br/> on this platform</p>
            <button class="button-seemore">see more</button>
        </div>
        <div class="quotes1">
            <img class="twitter-card1" src="http://localhost:7000/images/twitter-card.png" alt="twitter-card">
            <div class="twibbonize">
                <img src="http://localhost:7000/images/ellipse-orange.png" alt="ellipse-outline7">
            </div>
            <div class="evan-lahti">
                <img src="http://localhost:7000/images/evan-lahti.jpg" alt="evan-lahti">
            <div class="textquotes">
                <p class="text-evan">Evan Lahti</p>
                <p class="text-pcgamer">PC Gamer</p>
            </div>
            <div class="textquotes2">
                <p class="textquotes2-1">“One of my gaming highlights of the year.”</p>
                <p class="tgl-quotes">June 18, 2021</p>
            </div>
            </div>
        </div>
        <div class="quotes2">
            <img class="twitter-card2" src="http://localhost:7000/images/twitter-card.png" alt="twitter-card2">
            <div class="twibbonize2">
                <img src="http://localhost:7000/images/ellipse-orange.png" alt="ellipse-outline8">
            </div>
            <div class="jada-griffin">
                <img src="http://localhost:7000/images/jada-griffin.jpg" alt="jada-griffin">
            <div class="textquotes3">
                <p class="text-jada">Jada Griffin</p>
                <p class="text-nerdreactor">Nerdreactor</p>
            </div>
            <div class="textquotes4">
                <p class="textquotes4-1">“The next big thing in the world of streaming <br/>and survival games.”</p>
                <p class="tgl-quotes2">July 10, 2021</p>
            </div>
            </div>
        </div>
        <div class="quotes3">
            <img class="twitter-card3" src="http://localhost:7000/images/twitter-card.png" alt="twitter-card2">
            <div class="twibbonize3">
                <img src="http://localhost:7000/images/ellipse-orange.png" alt="ellipse-outline9">
            </div>
            <div class="aaron-williams">
                <img src="http://localhost:7000/images/aaron-williams.jpg" alt="aaron-williams">
            <div class="textquotes5">
                <p class="text-aaron">Aaron Williams</p>
                <p class="text-uproxx">Uproxx</p>
            </div>
            <div class="textquotes6">
                <p class="textquotes6-1">“Snoop Dogg Playing The Wildly Entertaining <br/> ‘SOS’ Is Ridiculous.”</p>
                <p class="tgl-quotes3">December 24, 2018</p>
            </div>
            </div>
    </section>
    <section class="page6">
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <div class="skull">
            <img src="http://localhost:7000/images/skull.png" alt="skull">
        </div>
        <div class="text-page6">
            <p class="textpage6-1">Want to stay in <br/>touch?</p>
            <p class="textpage6-2">NEWSLETTER <br/> SUBSCRIBE </p>
            <P class="textpage6-3">In order to start receiving our news, all you have to do is enter your email <br/>address. 
                Everything else will be taken care of by us. We will send you emails <br/>containing information 
                about game. We don’t spam.</P>
        </div>
        <div class="email-button">
            <div class="email">
                <p class="textemail-1">Your email address</p>
                <p class="textemail-2">youremail@binar.co.id</p>
            </div>
            <button class="button-subscribe">Subscribe now</button>
        </div>
        <div class="navbar-bottom">
            <p>MAIN</p>
            <P>ABOUT</P>
            <P>GAME FEATURES</P>
            <P>SYSTEM REQUIREMENTS</P>
            <P>QUOTES</P>
            <img src="./assets/Image/facebook.svg" alt="facebook">
            <img src="./assets/Image/twitter.svg" alt="twitter">
            <img src="./assets/Image/vector.svg" alt="vector">
            <img src="./assets/Image/twitch.svg" alt="twitch">
        </div>
        <div class="garis-footer">
        </div>
    </section>
    <footer class="footer">
        <div class="footer1">
            <p class="textfooter-1">© 2018 Your Games, Inc. All Rights Reserved</p>
            <p class="textfooter-2">PRIVASI POLICY | TERMS OF SERVICE | CODE OF CONDUCT </p>
        </div>
    </footer>

</body>
</html>